*.py[co]

# Ignore tmp and output directories

tmp/
cities/
counties/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# OS X
.DS_Store

## Eclipse ignores (from https://github.com/github/gitignore)
*.pydevproject
.metadata
.gradle
bin/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# Other
.project
